@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 58%; 
  margin: 0 auto;
}

:root{
  --primary-color : #F17140;
  --secondary-color :#3C3B3B;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper { 
  width: 96%; 
  padding: 15px 0 12px;
  display: flex;
  justify-content: space-between;
}

.hamburger { display: none; }
h1 img { width: 40%; }

  nav { 
  width:69%;
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  padding: 4px;
  color: var(--secondary-color);
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .4s ease;
}

.navigation .active ,
.navigation a:hover { color: var(--primary-color); }

.facebook ,
.twitter,
.instagram,
.linkedin {
  display: inline-block;
  text-indent: -9999px;
}

.header-social-icons .facebook::before,
.header-social-icons .twitter::before,
.header-social-icons .instagram::before,
.header-social-icons .linkedin::before {
  color: var(--primary-color);
  float: right;
  font: 500 10px "Font Awesome 5 Brands";
  text-indent: 0;
  transition: all .4s ease;
}

.header-social-icons .facebook:hover::before,
.header-social-icons .twitter:hover::before,
.header-social-icons .instagram:hover::before,
.header-social-icons .linkedin:hover::before { color: #444; }

.facebook::before{ content: "\f082"; }
.twitter::before{ content: "\f099"; }
.instagram::before{ content: "\f16d"; }
.linkedin::before { content: "\f0e1";}

.header-social-icons {
  width: 7%;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  index main styling starts here
=================================*/

/*=================================
  Banner styling starts here
=================================*/ 

.banner .wrapper {
  width: 100%;
  position: relative;
}

.slide img { max-height: 375px; }
.slide { position: relative;}
.banner-slider { overflow: hidden; }

.slider {
  display: flex;
  transition: all .3s ease;
  transform: translateX(-100%);
}

.slide {
  width: 100%;
  min-width: 100%;
}

.slider-content {
  width: 48%;
  padding: 14px 1% 13px;
  background-color: var(--primary-color);
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  right: 0%;
  top: 63%;
  word-spacing: -2px;
}

.slider-content span {
  font-size: 13px;
  text-transform: uppercase;
}

.slider-content p { font-size: 14px; }

.angle-right {
  padding: 8.5px 0.7%;
  margin: 10px 2.5%;
  background: #fff;
  color: var(--primary-color);
  font-size: 9.8px;
  font-weight: 700;
  display: flex;
  line-height: 1;
  position: absolute;
  right: 40.7%;
  top: 80%;
  text-transform: uppercase;
  text-align: left;
}

.angle-right::after {
  content: '\f105';
  margin:0 5px;
  font-family: FontAwesome;
  font-size: 12px;
}

.angle-right:hover {
  background: var(--primary-color);
  color: #fff;
  transition: all .3s ease;
}

.btn {
  width: auto;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 38%;
  transition: 0.6s ease;
  text-indent: -9999px;
}

#prev::before {
  content: '\f053';
  font-family: FontAwesome;
  float: left;
  opacity: 0.5;
  text-indent: 0;
}
#next::before {
  content: '\f054';
  font-family: FontAwesome;
  float: right;
  opacity: 0.5;
  text-indent: 0;
}

#prev { left: 6.2%; }
#next { right: 6.2%; }

.btn:hover { 
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
}

 /*=================================
  Banner styling ends here
=================================*/ 

/*=================================
  Welcome styling starts here
=================================*/ 

.welcome { 
  padding-bottom: 58px;
  text-align: center;
}

.welcome h2 {
  padding-top: 52px;
  margin-bottom: 35px;
  color: #444;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.welcome p {
  color: #444;
  font-size: 12px;
  line-height: 1.7;
}

 /*=================================
  Welcome styling ends here
=================================*/ 

/*=================================
  our-services styling starts here
=================================*/ 

.our-services { text-align: center; }

.our-services h2 {
  padding-top: 46px;
  margin-bottom: 48px;
  color: #444;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.serivces {
  display: flex;
  flex-wrap: wrap;
}

.serivces li {
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.serivce { flex-basis: 20%; }
.serivce:nth-child(5) figure { margin: 20px 0 17px; }

.serivce span {
  padding: 13px;
  padding-top: 20px;
  margin-bottom: 21px;
  color: #777;
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.serivce img { width: 57%; }

.serivce-icon  {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.serivce-icon a {
  margin-top: 38px;
  text-indent: -9999px;
}

.serivce-icon a:before {
  content: "\f061";
  margin-right: 33px;
  color: var(--primary-color);
  font-family: FontAwesome;
  font-size: 25px;
  float: right;
  text-indent: 0;
}

.serivce-icon span {
  margin-top: 36px;
  color: #777;
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.serivces li:hover {
  transform: scale(1.1);
  transition: all ease-in-out;
}

.serivces li:hover span { color: var(--primary-color); }

 /*=================================
  our-services styling ends here
=================================*/ 

/*=================================
  our-latest-work styling starts here
=================================*/ 

.our-latest-work {
  background: #efefef;
  text-align: center;
}

.our-latest-work .wrapper { width: 100%; }

.our-latest-work h3 {
  padding-top: 64px;
  margin-bottom: 15px;
  color: #444;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.our-latest-work a {
  margin-bottom: 44px;
  color: #444;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 1.3;
  text-transform: uppercase;
}

.portfolios { display: flex; }

.portfolio figure {
  overflow: hidden;
  position: relative;
  max-height: 180px;
}

.portfolio figure:hover img {
  transform: scale(1.2);
  transition: all .5s ease-in-out;
}

.portfolio figure:hover::before {
  content: "";
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: all .4s ease-in-out;
  z-index: 1;
}

.portfolio figure::after {
  content: "\f00e";
  color: #fff;
  cursor: pointer;
  font: normal 100 30px 'FontAwesome';
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%,300%);
  top: 50%;
  transition: all .7s ease-in-out;
  z-index: 2;
}

.portfolio figure:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.portfolio:nth-child(3) { min-width: 25%; }

.portfolio-lightbox {
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgba(25,25,25,0.8);
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 1;
}

.lightbox {
  width: 30%;
  display: none;
  position: relative;
  animation-name: scale;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform:scale(1);
}

@keyframes scale {
  0% {
    opacity: 0;
    transform:scale(0);
  }

  100% {
    opacity: 1;
    transform:scale(1);
  }
}

.close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  right: 32px;
  top: 32px;
  position: absolute;
  opacity: 0.3;
}

.close:before, .close:after {
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
  left: 15px;
  position: absolute;
  transition: all 0.3s ease;
}


.show { display: flex; }
.no-scroll { overflow: hidden; }
.close:hover { opacity: 1;}
.close:before { transform: rotate(45deg); }
.close:after { transform: rotate(-45deg); }

 /*=================================
  our-latest-work styling ends here
=================================*/

/*=================================
  our-clients styling starts here
=================================*/ 

.our-clients {
  padding-bottom: 67px;
  background: var(--primary-color);
  text-align: center;
}

.our-clients h3 {
  padding-top: 64px;
  margin-bottom: 36px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.client { width: 18%; }

 /*=================================
  our-clients styling ends here
=================================*/ 

/*=================================
  affiliations styling starts here
=================================*/ 

.affiliations {
  padding-bottom: 60px;
  background: #efefef;
  text-align: center;
}

.affiliations h3 {
  padding-top: 65px;
  margin-bottom: 15px;
  color: #444;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.affiliated-partners {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners {
  width: 22.98%;
  margin-bottom: 21px;
}

.partners figure {
  transition: all .4s ease;
}

.partners figure:hover {
  box-shadow: 14px -14px 15px -4px rgba(25,25,25,0.4), 9px 23px 18px -14px rgba(25,25,25,0.6)
}

 /*=================================
  affiliations styling ends here
=================================*/ 

/*=================================
  get-in-touch styling starts here
=================================*/ 

.get-in-touch {
  padding-bottom: 56px;
  background: #003e59;
  color: #fff;
  text-align: center;
}

.get-in-touch .wrapper { width: 58%; }

.get-in-touch h3 {
  padding-top: 46px;
  margin-bottom: 36px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

form { display: flex; }

.form-groups,
.form-controls { 
  width: 100%;
  margin-left: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group label,
.form-control label {
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
}

.form-group .error,
.form-control .error {
  width: 50%;
  bottom: 50%;
  font-size: 14px;
  font-weight: 600;
  left: -78%;
  letter-spacing: 1px;
  position: absolute;
  transform: translateX(50%);
  visibility: hidden;
}

.form-control .error  {
  right: -78%;
  transform: translateX(355%);
  transition: all .3s ease;
}

.form-group .error::after,
.form-control .error::before {
  content: "\f06a";
  color: #cd5c5c;
  float: right;
  font-size: 20px;
  font-family: "fontAwesome";
  text-indent: 0;
}

.form-control .error::before  {
  float: left;
  margin-right: 25%;
}

.success {
  text-indent: -9999px;
  position: absolute;
  bottom: 40%;
  left: -7%;
  transform: translateX(50%);
  visibility: hidden;
}

.success::after {
  content: "\f058";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: #32cd32;
}

.form-group input,
#enquiries {
  box-sizing: border-box;
  width: 96%;
  padding: 8px 2%;
  margin-bottom: 15px;
  border: 1px solid rgba(67,159,227,0.3);
  border-right: none;
  background: #fff;
}

#enquiries { 
  color: #777;
  font-size: 12px;
  margin-top: 4px;
}

option { font-size: 14px; }

.form-control {
  display: block;
  text-align: left;
  position: relative;
}

#TermsandCondition {
  margin-top: 8px;
  transform: scale(0.7);
}

.form-control textarea {
  box-sizing: border-box;
  padding: 5px 0.9%;
  margin-top: 5px;
}

#TermsandCondition + label a { 
  color: var(--primary-color);
  transition: all .3s ease;
 }

.form-controls p {
  margin-top: 4px;
  padding: 10px;
  font-size: 12px;
  text-align: left;
}

#submit {
  margin-top: 14px;
  padding: 9.5px 4.9%;
  border: 1px solid transparent;
  background: var(--primary-color);
  color: #fff;
  font-size: 11px;
  position: absolute;
  right: 2%;
  transition: all .3s ease;
}

#submit:hover {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

#TermsandCondition + label a:hover { color: #777; }
.visible { visibility: visible;}

 /*=================================
  get-in-touch styling ends here
=================================*/ 

/*=================================
  index main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  background: #3c3b3b;
  color: #fff;
  text-align: center;
}

footer .wrapper { width: 58%; }

footer a,
footer p { 
  color: #fff;
  font-size: 12px;
  transition: all .3s ease;
}

footer h5 {
  padding-top: 66px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  text-align: left;
}

.company-info { display: flex; }

.getintouch {
  display: flex;
  flex-direction: column;
}

.information {
  width: 25%;
  margin-left: 6.5%;
  display: flex;
  flex-direction: column;
}

.getintouch ul {
  width: 73%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.getintouch li,
.information li { padding: 0 0 6px; }

.getintouch a,
.getintouch address {
  font-size: 11px;
  line-height: 1.5;
  position: relative;
  text-transform: uppercase;
}

.getintouch a::before,
.getintouch address::before {
  position: absolute;
  float: left;
  font-family: "fontAwesome";
  left: -15px;
  text-indent: 0;
}

.information ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.telephone::before { content: '\f095'; }
.infoMail::before { content: '\f0e0'; }
.Co-Address::before { content: '\f041'; }
footer p { margin: 30px 0 40px; }
.footer-social-icons { padding-bottom: 25px; }
.footer-social-icons a { padding: 3px; }

.footer-social-icons .facebook::before,
.footer-social-icons .twitter::before,
.footer-social-icons .instagram::before,
.footer-social-icons .linkedin::before {
  color: #fff;
  float: right;
  font: 500 23px "Font Awesome 5 Brands";
  text-indent: 0;
  transition: all .3s ease;
}

footer a:hover,
.footer-social-icons .facebook:hover::before,
.footer-social-icons .twitter:hover::before,
.footer-social-icons .instagram:hover::before,
.footer-social-icons .linkedin:hover::before { color: var(--primary-color); } 

 /*=================================
  footer styling ends here
=================================*/ 

/*=================================
  our-works main styling starts here
=================================*/





/*=================================
  our-works main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  