@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 58%; 
  margin: 0 auto;
}

:root{
  --primary-color : #F17140;
  --secondary-color :#3C3B3B;
}

/*=================================
  Header styling starts here
=================================*/

header .wrapper { 
  width: 97%; 
  padding: 15px 0 13px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.hamburger { display: none; }
h1 img { width: 40%; }

  nav { 
  width:69%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.navigation {
  width: 85%;
  display: -webkit-box;
  display: flex;
}

.hamburger {
  width: 40px;
  float : right;
  display: none;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
} 

.hamburger > span {
  background-color: #000;
  border-radius: 3px;
  display: block;
  height: 4px;
  margin: 5px 0;
  text-indent: -9999px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hamburger-active > span:nth-child(1) {
  background-color: crimson;
  margin: 0;
  -webkit-transform: translate(-4px,8px) rotate(45deg);
          transform: translate(-4px,8px) rotate(45deg);
}
.hamburger-active > span:nth-child(2) {
  background-color: blueviolet;
  margin: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.hamburger-active > span:nth-child(3) {
  background-color: crimson;
  margin: 0;
  -webkit-transform: translate(-5px,0px) rotate(-45deg);
          transform: translate(-5px,0px) rotate(-45deg);
}

.navigation li:nth-of-type(even) { margin-right: 2%; }
.navigation li:nth-of-type(odd) { margin-right: 2.1%; }

.navigation a {
  padding: 4px;
  color: var(--secondary-color);
  cursor: pointer;
  font: 600 9px sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navigation .active { color: var(--primary-color); }

.facebook ,
.twitter,
.instagram,
.linkedin {
  display: inline-block;
  text-indent: -9999px;
}

.header-social-icons .facebook::before,
.header-social-icons .twitter::before,
.header-social-icons .instagram::before,
.header-social-icons .linkedin::before {
  color: var(--primary-color);
  float: right;
  font: 500 10px "Font Awesome 5 Brands";
  text-indent: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.facebook::before{ content: "\f082"; }
.twitter::before{ content: "\f099"; }
.instagram::before{ content: "\f16d"; }
.linkedin::before { content: "\f0e1";}

.header-social-icons {
  width: 7%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  index main styling starts here
=================================*/

/*=================================
  Banner styling starts here
=================================*/ 

.banner .wrapper {
  width: 100%;
  position: relative;
}

.slide img { max-height: 375px; }
.slide { position: relative;}
.banner-slider .desktop { display: block; }
.banner-slider .mobile { display: none; }

.slider-content {
  width: 48%;
  padding: 14px 1% 13px;
  background-color: var(--primary-color);
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  right: 0%;
  top: 63%;
  word-spacing: -2px;
}

.slider-content span {
  font-size: 13px;
  text-transform: uppercase;
}

.slider-content p { font-size: 14px; }

.angle-right {
  padding: 8.5px;
  margin: 10px 2.5%;
  background: #fff;
  color: var(--primary-color);
  font: 700 9.8px sans-serif;
  display: -webkit-box;
  display: flex;
  line-height: 1;
  position: absolute;
  right: 40.7%;
  top: 80%;
  text-transform: uppercase;
  text-align: left;
}

.angle-right::after {
  content: '\f105';
  margin:0 5px;
  font-family: FontAwesome;
  font-size: 12px;
}

.slick-prev::before {
  content: '\f053';
  font-family: FontAwesome;
  float: left;
  opacity: 0.5;
  text-indent: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slick-next::before {
  content: '\f054';
  font-family: FontAwesome;
  float: right;
  opacity: 0.5;
  text-indent: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slick-prev {
  z-index: 1; 
  left: 6.2%;
 }

.slick-next { right: 6.2%; }

/*=================================
  Banner styling ends here
=================================*/ 

/*=================================
  Welcome styling starts here
=================================*/ 

.welcome { 
  padding-bottom: 58px;
  text-align: center;
}

.welcome h2 {
  padding-top: 63px;
  margin-bottom: 35px;
  color: #444;
  font: 600 18px sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.welcome p {
  color: #444;
  font-size: 12px;
  line-height: 1.7;
}

 /*=================================
  Welcome styling ends here
=================================*/ 

/*=================================
  our-services styling starts here
=================================*/ 

.our-services { text-align: center; }

.our-services h2 {
  padding-top: 46px;
  margin-bottom: 48px;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.services {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.services li {
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.service { flex-basis: 20%; }
.service:nth-child(5) figure { margin: 20px 0 17px; }

.service span {
  padding: 13px;
  padding-top: 20px;
  margin-bottom: 21px;
  color: #777;
  display: block;
  font: 600 12px sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.service img { width: 57%; }

.service-icon  {
  margin-left: 5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.service-icon a {
  margin-top: 38px;
  text-indent: -9999px;
}

.service-icon a:before {
  content: "\f061";
  margin-right: 33px;
  color: var(--primary-color);
  font-family: FontAwesome;
  font-size: 25px;
  float: right;
  text-indent: 0;
}

.service-icon span {
  margin-top: 36px;
  color: #777;
  display: block;
  font: 600 12px sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

 /*=================================
  our-services styling ends here
=================================*/ 

/*=================================
  our-latest-work styling starts here
=================================*/ 

.our-latest-work {
  background: #efefef;
  text-align: center;
}

.our-latest-work .wrapper { width: 100%; }

.our-latest-work h3 {
  padding-top: 64px;
  margin-bottom: 15px;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.our-latest-work a {
  margin-bottom: 44px;
  color: #444;
  font: 700 10px sans-serif;
  letter-spacing: 0.3px;
  line-height: 1.3;
  text-transform: uppercase;
}

.portfolios { display: -webkit-box; display: flex; }

.portfolio figure {
  overflow: hidden;
  position: relative;
  max-height: 180px;
}

.portfolio figure::after {
  content: "\f00e";
  color: #fff;
  cursor: pointer;
  font: normal 100 30px 'FontAwesome';
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate(-50%,300%);
          transform: translate(-50%,300%);
  top: 50%;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  z-index: 2;
}

.portfolio:nth-child(3) { min-width: 25%; }

.portfolio-lightbox {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
  background: rgba(25,25,25,0.8);
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.lightbox {
  width: 30%;
  display: none;
  position: relative;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transform:scale(1);
          transform:scale(1);
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform:scale(0);
            transform:scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform:scale(1);
            transform:scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform:scale(0);
            transform:scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform:scale(1);
            transform:scale(1);
  }
}

.close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  right: 32px;
  top: 32px;
  position: absolute;
  opacity: 0.3;
}

.close:before, .close:after {
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
  left: 15px;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.show { display: -webkit-box; display: flex; }
.block { display: block; }
.hide { display: none; }
.no-scroll { overflow: hidden; }
.close:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.close:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.opaque { 
  display: -webkit-box; 
  display: flex;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes fade {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 /*=================================
  our-latest-work styling ends here
=================================*/

/*=================================
  our-clients styling starts here
=================================*/ 

.our-clients {
  padding-bottom: 67px;
  background: var(--primary-color);
  text-align: center;
}

.our-clients h3 {
  padding-top: 64px;
  margin-bottom: 36px;
  color: #fff;
  font: 600 17px sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.clients {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.client { width: 18%; }

 /*=================================
  our-clients styling ends here
=================================*/ 

/*=================================
  affiliations styling starts here
=================================*/ 

.affiliations {
  padding-bottom: 60px;
  background: #efefef;
  text-align: center;
}

.affiliations h3 {
  padding-top: 65px;
  margin-bottom: 15px;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.affiliated-partners {
  margin-top: 35px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.partners {
  width: 22.98%;
  margin-bottom: 21px;
}

.partners figure { -webkit-transition: all .4s ease; transition: all .4s ease; }

 /*=================================
  affiliations styling ends here
=================================*/ 

/*=================================
  get-in-touch styling starts here
=================================*/ 

.get-in-touch {
  padding-bottom: 56px;
  background: #003e59;
  color: #fff;
  text-align: center;
}

.get-in-touch .wrapper { width: 58%; }

.get-in-touch h3 {
  padding-top: 46px;
  margin-bottom: 36px;
  font: 600 22px sans-serif;
  letter-spacing: 0.3px;
}

form { display: -webkit-box; display: flex; }

.form-groups,
.form-controls { 
  width: 50%;
}

.form-controls { margin-left: 2.56%;}

.form-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
}

.form-group label,
.form-control label {
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
}

.form-group .error,
.form-control .error {
  width: 50%;
  bottom: 30%;
  font: 600 14px sans-serif;
  left: -76%;
  letter-spacing: 1px;
  position: absolute;
  -webkit-transform: translateX(49%);
          transform: translateX(49%);
  visibility: hidden;
}

.form-control .error  {
  right: -78%;
  -webkit-transform: translateX(355%);
          transform: translateX(355%);
}

.form-group .error::after,
.form-control .error::before {
  content: "\f06a";
  color: #cd5c5c;
  float: right;
  font-size: 20px;
  font-family: "fontAwesome";
  text-indent: 0;
}

.form-control .error::before  {
  float: left;
  margin-right: 25%;
}

.success {
  text-indent: -9999px;
  position: absolute;
  bottom: 40%;
  left: -7%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  visibility: hidden;
}

.success::after {
  content: "\f058";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: #32cd32;
}

.form-group input,
#enquiries {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid rgba(67,159,227,0.3);
  border-right: none;
  background: #fff;
}

#enquiries { 
  color: #777;
  font-size: 12px;
  margin-top: 4px;
}

option { font-size: 14px; }

.form-control {
  display: block;
  text-align: left;
  position: relative;
}

#TermsandCondition {
  margin-top: 8px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.form-control textarea {
  width: 100%;
  min-height: 87px;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  display: block;
}

#TermsandCondition + label a { 
  color: var(--primary-color);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
 }

 #TermsandCondition + label a:last-of-type { margin-left: 6%; }

.form-controls p {
  margin: 10px 1%;
  font-size: 12px;
  line-height: 1.4;
  text-align: left;
}

.form-control:last-of-type {
  width: 100%;
  display: inline-block;
 }

#submit {
  margin: 10px 2% 0 0;
  padding: 11px 5.2%;
  border: 1px solid transparent;
  background: var(--primary-color);
  color: #fff;
  font: 600 11px sans-serif;
  right: 2%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  float: right;
}

.customAlert {
  display: none;
  position: fixed;
  max-width: 25%;
  min-width: 250px;
  min-height: 20%;
  height: 200px;
  left: 60%;
  box-shadow: 8px 3px 10px rgba(0, 0, 0, 0.4);
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  border: 1px solid #fff;
  background: #FFEFBA;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FFEFBA));
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.confirm-button {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 15%;
  height: 36px;
  margin: -48px -24px auto -18px;
  outline: 0;
  border: 1px solid;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, right top, from(#240b36), to(#c31432));
  background: linear-gradient(to right, #240b36, #c31432);
  background: #2b2e37;
}

.confirm-button::before {
  content: '';
  position: absolute;
  background: #2b2e37;
  color: #fff;
  top: 0;
  width: 18px;
  float: left;
  text-indent: 0;
  display: block;
  height: 10px;
}

.message {
  padding: 57px;
  color: dimgray;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: justify;
}

.fadein {
  display: block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    left: 40%;
    opacity: 0;
  }

  to {
    left: 60%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    left: 40%;
    opacity: 0;
  }

  to {
    left: 60%;
    opacity: 1;
  }
}

.form-group .error.visible,
.form-control .error.visible { visibility: visible;}
.opacity { opacity: 0.5; }
.visible { visibility: visible;}
 /*=================================
  get-in-touch styling ends here
=================================*/ 

/*=================================
  index main styling ends here
=================================*/

/*===================================
  our-works main styling starts here
===================================*/

/*=====================================
  our-works banner styling starts here
======================================*/

.our-works-banner {
  padding: 157px;
  background: url('../images/OurWorkHeader.jpg') no-repeat;
  background-size: cover;
  background-position: 0 -85px;
  text-indent: -9999px;
}

/*=================================
  our-works banner styling ends here
=================================*/

/*===============================================
  our-works portfolio -filter styling starts here
=================================================*/

.portfolio-filter .wrapper { width: 100%; }

.portfolios-links {
  margin: 0 21% 0 23.9%;
  margin-bottom: 42px;
  padding-top: 36px;
  text-align: center;
}

.portfoliolink {
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.portfoliolink a {
  color: var(--secondary-color);
  font: 600 9.5px sans-serif;
  cursor: pointer;
}

.portfoliolink a.active { color: var(--primary-color); }

.portfoliolink::after {
  content: '/';
  padding: 0 5px;
  color: #efefef;
  font-size: 12px;
}

.portfolio-images {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.portfolio-img { width: 25%; }

.portfolio-img figure {
  max-width: 335px;
  margin: 2.5px 2.5px 3px;
}

/*==============================================
  our-works portfolio-filter styling starts here
================================================*/

/*=================================
  our-works banner styling ends here
=================================*/

/*=================================
  our-works main styling ends here
=================================*/

/*=================================
  join-us main styling starts here
=================================*/

/*=================================
  join us banner styling starts here
=================================*/


.join-us-banner {
  padding: 159px;
  background: url('../images/Joinuspage/Explore.jpg') no-repeat;
  background-position: 0 -83px;
  background-size: cover;
  text-indent: -9999px;
}

/*=================================
  join us banner styling ends here
=================================*/

/*============================================
  join us harvest history styling starts here
============================================*/

.harvest-history { text-align: center; }

.harvest-history h2 {
  margin: 30px 0;
  color: var(--primary-color);
  font: 600 32px sans-serif;
}

.harvest-history p {
  padding: 0 11px;
  margin-bottom: 30px;
  color: #a68a93;
  font: 14px/1.5 sans-serif;
  letter-spacing: 0.2px;
}

.harvest-history a {
  padding: 11px 2.67%;
  font-size: 11px;
  letter-spacing: 1px;
  background: #ebebeb;
  color: var(--secondary-color);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/*=================================
  join us banner styling ends here
=================================*/

/*=====================================
  join us harvester styling starts here
======================================*/

.harvester { text-align: center; }

.harvester h2 {
  padding-top: 85px;
  margin-bottom: 50px;
  box-sizing: border-box;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.harvester-content {
  margin-bottom: 53px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.harvester-content p {
  width: 50%;
  padding: 0 1.8%;
  box-sizing: border-box;
  color: #a68a93;
  font: 14px/1.5 sans-serif;
  letter-spacing: 0.5px;
  text-align: left;
}

.harvester-content figure { width: 48%; }

/*===================================
  join us harvester styling ends here
====================================*/

/*===============================================
  join us benefits and perks styling starts here
================================================*/

.benefits-perks {
  padding-bottom: 46px;
  background: #efefef;
  text-align: center;
}

.benefits-perks h2 {
  padding-top: 67px;
  margin-bottom: 35px;
  box-sizing: border-box;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.benefits {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.perk {
  margin-bottom: 24px;
  display: -webkit-box;
  display: flex;
  flex-basis: 33.2%;
  -webkit-box-align: center;
          align-items: center;
}

.perk figure {
  width: 17.5%;
  display: inline-block;
}

.perk span {
  margin-left: 3%;
  color: var(--secondary-color);
  font-size: 14px;
  letter-spacing: 1.2px;
}

/*=============================================
  join us benefits and perks styling ends here
==============================================*/

/*===========================================
  join us harvest values styling starts here
============================================*/

.harvest-values { text-align: center; }

.harvest-values h3 {
  padding-top: 115px;
  margin-bottom: 43px;
  box-sizing: border-box;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.values {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.harvest-value {
  width: 19%;
  margin: 2px 2%;
  padding: 68px 0.5%;
  border: 1px solid var(--primary-color);
  background: #e4e6ee;
  color: var(--primary-color);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font: 600 15px sans-serif;
  text-transform: uppercase;
}

/*=========================================
  join us harvest values styling ends here
==========================================*/

/*========================================
  join us oppotunities styling starts here
=========================================*/

.opportunities { padding-bottom: 16px; }
.opportunities .wrapper { width: 60%; }

.opportunities h4 {
  padding-top: 98px;
  margin-bottom: 50px;
  box-sizing: border-box;
  color: #444;
  font: 600 17px sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

#job-categories {
  width: 14%;
  padding: 10px 0.3% 9px 0.5%;
  margin: 25px 10%;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,.04);
  background: #fff;
  color: #444;
  display: block;
  font-size: 9px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: left;
}

#job-categories option { font-size: 12px; }

.jobs {
  margin: 20px 10%;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.13);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.job {
  padding: 16px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,.04);
  background: #fff;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 10px;
  letter-spacing: 1px;
  outline: none;
  overflow: hidden;
  position: relative;
}

.job-details {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  float: right;
  flex-basis: 50%;
}

.more-details ,
.job > span {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
}

.job-cat::before ,
.more-details::after ,
.timing::before {
  margin-right: 3px;
  font-family: fontAwesome;
  float: left;
}

.job-cat::before  { content: "\f1ad"; }
.timing::before { content: "\f042"; }

.more-details,
.timing,
.job-cat { 
  display: inline-block;
  font-size: 8.8px;
 }

 .timing { padding: 0 10px; }


.more-details::after { 
  content: "\002192";
  float: right;
 }

 /*=====================================
  join us oppotunities styling ends here
======================================*/

/*=================================
  join-us main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  background: #3c3b3b;
  color: #ededed;
  text-align: center;
}

footer .wrapper { width: 58%; }

footer a,
footer p { 
  color: #ededed;
  font-size: 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer h5 {
  padding-top: 64px;
  margin-bottom: 20px;
  font: 600 18px sans-serif;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  text-align: left;
}

.company-info { display: -webkit-box; display: flex; }

.getintouch {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.information {
  width: 25%;
  margin-left: 6.5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.getintouch ul {
  width: 73%;
  margin-left: 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: left;
}

.getintouch li,
.information li { padding: 0 0 6px; }

.getintouch a,
.getintouch address {
  font-size: 11px;
  line-height: 1.5;
  position: relative;
  text-transform: uppercase;
}

.getintouch a::before,
.getintouch address::before {
  float: left;
  font-family: "fontAwesome"; 
  position: absolute;
  left: -15px;
  text-indent: 0;
}

.information ul {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: left;
}

.telephone::before { content: '\f095'; }
.infoMail::before { content: '\f0e0'; }
.Co-Address::before { content: '\f041'; }
footer p { margin: 30px 0 40px; }
.footer-social-icons { padding-bottom: 20px; }
.footer-social-icons a { padding: 3px; }

.footer-social-icons .facebook::before,
.footer-social-icons .twitter::before,
.footer-social-icons .instagram::before,
.footer-social-icons .linkedin::before {
  color: #ededed;
  float: right;
  font: 500 23px "Font Awesome 5 Brands";
  text-indent: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for hovers starts here*/
/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  .angle-right:hover {
    background: var(--primary-color);
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .slick-prev:hover::before,
  .slick-next:hover::before { 
    color: var(--primary-color);
    opacity: 1;
  }

  .services li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all ease-in-out;
    transition: all ease-in-out;
  }

  .portfolio figure:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .portfolio figure:hover::before {
    content: "";
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 1;
  }

  .portfolio figure:hover::after {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  #submit:hover {
    background: #fff;
    color: var(--primary-color);
  }

  .harvest-history a:hover {
    background: var(--primary-color);
    color: #fff;
  }

  .harvest-value:hover {
    -webkit-transform: rotate3d(360, 1, 1, 360deg);
            transform: rotate3d(360, 1, 1, 360deg);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .header-social-icons .facebook:hover::before,
  .header-social-icons .twitter:hover::before,
  .header-social-icons .instagram:hover::before,
  .header-social-icons .linkedin:hover::before { color: #444; }
  .navigation a:hover,
  .our-latest-work a:hover,
  .services li:hover span,
  footer a:hover,
  .footer-social-icons .facebook:hover::before,
  .footer-social-icons .twitter:hover::before,
  .footer-social-icons .instagram:hover::before,
  .footer-social-icons .linkedin:hover::before { color: var(--primary-color); } 
  .close:hover { opacity: 1; }
  #TermsandCondition + label a:hover { color: #777; }
  .partners figure:hover { box-shadow: 14px -14px 15px -4px rgba(25,25,25,0.4), 9px 23px 18px -14px rgba(25,25,25,0.6) }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .navigation li:nth-of-type(odd),
  .navigation li:nth-of-type(even) { margin-right: 1%; }
  .header-social-icons { width: 10%; }
  .service-icon {margin: 0;}
  .get-in-touch .wrapper { width: 70%; }
  .wrapper { width: 86%; }
  #TermsandCondition + label a:last-of-type { margin-left: 1%; }
  #job-categories  { width: 20%; }
  .more-details, .timing, .job-cat { width: 15%; }
  .perk { flex-basis: 40%; }
  .join-us-banner,
  .our-works-banner { background-position: center; }
  .portfolio-images { -webkit-box-pack: space-evenly; justify-content: space-evenly; }
  .portfolio-img { width : 30%; }
  form { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column;}
  .lightbox { width: 40%; }
  .form-groups, .form-controls { width: 100%; }
  .form-controls { margin-left: 0; }
  .banner-slider .desktop { display: none; }
  .banner-slider .mobile { display: block; }
  .values { flex-wrap: wrap;  }
  form { width: 75%;}
  .form-group .error::after,
  .form-control .error::before { float: left; }

  .form-group .error ,
  .form-control .error {
    width: 50%;
    bottom: 24%;
    font: 600 14px sans-serif;
    left: 76%;
    letter-spacing: 1px;
    position: absolute;
    -webkit-transform: translateX(49%);
            transform: translateX(49%);
  }

  .angle-right {
    padding: 8.5px; 
    right: 38%;
  }

  .harvest-value {
    width: 48%;
    margin: 0 0 20px;
  }
}

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {
  .header-social-icons { display: none; }
  .navigation { display: none; }
  .opportunities h4 { margin: 10%; } 
  .opportunities .wrapper { width: 80%; }
  #job-categories  { width: 25%; }
  .job { padding: 7px 8px; }
  .slider-content p { font-size: 12px;}
  .slider-content span { font-size: 10px;}
  .angle-right::after { font-size: 8px; }
  .service { flex-basis: 33%;}
  .service-icon { margin: 0 auto;}
  .portfolios { flex-wrap: wrap;}
  .portfolio { width: 50%; }
  .client { width: 31%; }
  .client:last-of-type { margin: 0 auto;}
  .affiliated-partners { -webkit-box-pack: start; justify-content: flex-start; }
  footer h5,
  .getintouch ul,
  .information ul { text-align: unset; }
  .getintouch .infoMail::before { left: -25px; }
  .getintouch .telephone::before::before { left: 25px; }
  .portfoliolink a { font: 600 12.5px sans-serif; }
  .portfolio-img { width: 82%; }
  .harvester-content { -webkit-box-orient: vertical; -webkit-box-direction: reverse; flex-direction: column-reverse; }
  .benefits { -webkit-box-pack: center; justify-content: center; }
  .perk figure { width: 20%; }
  .perk span { padding: 15px 0; }
  .values { -webkit-box-pack: center; justify-content: center; }
  .harvest-value { width: 50%; }
  nav { width: 40px; }
  .hamburger { display: block; }
  .header-social-icons .facebook::before,
  .header-social-icons .twitter::before,
  .header-social-icons .instagram::before,
  .header-social-icons .linkedin::before { font-size: 20px;}  
  .navigation a { font-size: 12px;}
  form { width: 80%;}
  .portfolios-links { margin: 10%; }
  .lightbox { width: 50%; }

  .nav-active {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 2;
  }

  .social-active {
    width: 39%;
    display: -webkit-box;
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: 2;
  }

  .services { 
    margin-bottom: 24px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .job > span {
    margin-top: 14px;
    display: inline-block;
  } 

  .job-details {
    width: 50%;
    margin-top: 14px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    flex-basis: 50%;
    float: right;
  }

  .more-details, .timing, .job-cat {
    width: 100%;  
    display: inline-block;
  }
  
  .partners { 
    width: 28%;
    margin: 10px;
  }
  
  .angle-right {
    margin: 19px 0;
    font-size: 8px;
    right: 38%;
  }

  .company-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .information { 
    width: 100%;
    margin-left: 0; 
  }

  .portfolio-img figure { 
    width: 100%;
    max-width: none;
   }

  .harvester-content p,
  .harvester-content figure { 
    width: 100%; 
    padding-bottom: 10px;
  }

  .perk {
    margin: 24 0;
    border-bottom: 1px solid #ddd;
    -webkit-box-align: center;
            align-items: center;
    flex-basis: 51%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  #job-categories  { width: 30%;}
  .job { padding: 7px 8px;}
  .opportunities .wrapper,
  .portfolio,
  form { width: 100%;}
  .service { flex-basis: 45%; }
  .client { width: 45%;}
  .partners {
    width: 45%;
    margin: 5px;
  }

  .job > span {
    margin-top: 14px;
    display: inline-block;
  } 

  .form-group,
  .form-control { margin: 50px 0; }
  .form-control:first-of-type { margin-top: 0; }
  .form-group .error,
  .form-control .error {
    width: 100%;
    bottom: -25%;
    font: 600 14px sans-serif;
    left: 100%;
    letter-spacing: 1px;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .form-group .error::after {-webkit-transform: translate(-32px, -64px);transform: translate(-32px, -64px); } 
  .form-control:nth-child(2) .error { bottom: -65%; }
  .form-control .error::before ,
  .form-control .success::after { -webkit-transform: translate(-25px, -50px); transform: translate(-25px, -50px); }
  .lightbox { width: 80%; }

  .success {
    bottom: 35%;
    left: -10%;
  }

  .job-details {
    width: 50%;
    margin-top: 14px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    flex-basis: 50%;
    float: right;
  }
  .more-details, .timing, .job-cat { 
    width: 100%; 
    display: inline-block;
  }
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  .jobs { margin: 20px 5%; }
  .job > span { width: 45%; }
  .job-cat::before ,
  .more-details::after ,
  .timing::before { margin-bottom: 5px; } 
  .service { flex-basis: 100%; }
  .client { width: 100%;}
  .lightbox { width: 90%; }
  .success { left: -17%;}
  .customAlert { left: 25%; }
  .form-control .success { left: -5%; }
  .slider-content { top: 58%; }
  @-webkit-keyframes fadeIn {
    from {
      left: 0;
      opacity: 0;
    }
  
    to {
      left: 25%;
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      left: 0;
      opacity: 0;
    }
  
    to {
      left: 25%;
      opacity: 1;
    }
  }

  .partners {
    width: 100%;
    margin: 10px;
  }

  .form-group .error,
  .form-control .error {
    width: 100%;
    bottom: -35%;
    font: 600 14px sans-serif;
    left: 100%;
    letter-spacing: 1px;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .more-details, .timing, .job-cat {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
   }
}
